.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .mobile-menu-image {
    height: 30px;
    width: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .desktop-menu {
      display: none;
    }
    .mobile-menu {
      display: flex;
      cursor: pointer;
    }
  }
  
  @media screen and (min-width: 768px) {
    .desktop-menu {
      display: flex;
    }
    .mobile-menu {
      display: none;
    }
  }
  
  .image {
    height: 60px;
    width: 150px;
    cursor: pointer;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin-left: 0;
  }
  
  li {
    margin-right: 25px;
    font-family: 'Roboto';
    font-size: 18px;
    color: gray;
    cursor: pointer;
    align-self: center;
  }
  
  .logout-button {
    background-color: rgb(43, 144, 228);
    color: white;
    font-size: 15px;
    font-family: 'Roboto';
    height: 36px;
    width: 100px;
    border-width: 0;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .header-link {
    text-decoration: none;
    align-self: center;
  }
  
  @media screen and (max-width: 768px) {
    .mobile-menu-header {
      display: flex;
    }
  }
  